<!-- For this js File go to controller/userCtrl.js -->

<div class="page-header">
	<h1>Time Stamp</h1></div>
 

 <form ng-submit="timeregister.timeUser(timeData);">
    <label>Start Time:</label>
    <input type="text" class="form-control" name="start" placeholder="Enter Start Time" ng-model="timeregister.timeData.start"> <br>
        <label>End Time:</label>
    <input type="text" class="form-control" name="end" placeholder="Enter Username" ng-model="timeregister.timeData.end"> <br>
      
    <button type="submit" class="btn btn-primary">Submit</button>

 </form>

 <br>
 
 <!-- <div class="jumbotron text-center" ng-show="timeregister.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
 <p>Loading........</p>
 </div>

 <br>
 <div class="row show-hide-message" ng-show="timeregister.successMsg">
<div class="alert alert-success">{{timeregister.successMsg}}</div>
 </div>
  <br>
  <div class="row show-hide-message" ng-show="timeregister.errorMsg">
<div class="alert alert-danger">{{timeregister.errorMsg}}</div>
 </div> -->
   
